
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page | <%- title="My page" %>
    </title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <nav class="navbar">
        Welcome on Mr.Coffee App!
    </nav>
    <a href="/">
        <h1>Main App Page</h1>
    </a>
    <h2>Schedule website</h2>
    <div>Your firstName: {{users.firstName}}, <br/> Your secondName: {{users.secondName}}, <br/> Your email: {{users.email}}, <br/> Your password: {{users.password}} </div>
    <section class="allschedules">
        <table class="table table-sm table-dar">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">User Id</th><br>
                    <th scope="col">Day</th>
                    <th scope="col">Start at</th>
                    <th scope="col">End at</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>{{schedules.id}}</td>
                    <td>{{schedules.user_Id}}</td>
                    <td> {{schedules.day}}</td>
                    <td>{{schedules.start_at}}</td>
                    <td>{{schedules.end_at}}</td>
                </tr>

            </tbody>
        </table>

        <div class="paneladd">
            <h3>Add new Schedule to calendar</h3>
            <button id="checkingbutton">Check all schedules</button>
            <script type="text/javascript">
                document.getElementById("checkingbutton").onclick = function () {
                    location.href = "/schedules";
                };
            </script>
        </div>
        <form class="form" id="newschedule" method="POST" action="/protected">
            <div class="form-field">
                <label for="user_id">User ID</label>
                <input class="input" id="user_id" name="user_id" type="text" />
            </div>
            <div class="form-field">
                <label for="day">Day</label>
                <input class="input" id="day" name="day" type="text" />
            </div>
            <div class="form-field">
                <label for="start_at">Start</label>
                <input class="input" id="start_at" name="start_at" type="text" />
            </div>
            <div class="form-field">
                <label for="end_at">End</label>
                <input class="input" id="end_at" name="end_at" type="text" />
            </div>
            <div class="form-actions">
                <button class="button" id="create-btn" input type="submit">Create schedule</button>
            </div>
        </form>
        <footer>Copyright Mr Coffee | 2021 </footer>
</body>

</html>